/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* Write your CSS styles here */

h1 {
    display: block;
    font-size: 2.2em;
    margin-top: 0.67em;
    margin-bottom: 0.5em;
    margin-left: 0.6em;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.10em;
    margin: 1em 0em 1em 1em;
    font-weight: bold;
	color: white;
	background: rgb(70, 130, 180);
	padding: .3em;
	border-radius: 0px 0px 0px 5px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

body {
	background: url('images/pano_houston_skyline.jpg') no-repeat fixed center / cover;
	font-family: 'Lora', serif;
}

#content_block {
	background: rgba(255, 255, 240, .9);
	width: 20em;
	margin: 5em 0em 0em 0em;
	padding: 0em 0em 1em 0em;
	border-radius: 0px 0px 25px 0px;
	float: left;
}

#p_wrapper {
	width: 18em;
	margin: 0em 0em 0em 1.5em;
}

#social_list {
	height: 31px;
	width: 64px;
	background: url('images/social.png');
	margin: 1em 0em 0em 0em;
	padding: 0px;
	position: relative;
}

#social_list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	top: 0;
}

#social_list li, #social_list a {
	display: block;
	height: 31px;
	width: 32px;
}

#twitter {
	left: 32px; width: 31px;
}

#twitter:hover {
	background: url('images/social.png') -32px -31px;
}

footer {
	clear: left;
	color: #ffffff;
	position: absolute;
	bottom: 1em;
	left: 1em;
}

footer a {
	text-decoration: none;
	color: #ffffff;
}
